<div class="home-callout text-center">
  <br/>
  <h1>Hello Bread Lovers!</h1>
  <br/>
  <p>
    Welcome to our novelty Challah delivery site, where you simply have to holla 
    for some challah.
  </p>
</div>